.business-rates {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 270px;
  margin: 0 auto;
  padding-top: 33px;
  background-color: @white;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 fade(@btn-darkblue, 10%);

  &--opened {
    opacity: 1;
    z-index: 10;
  }
}

.business-rates__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.business-rates__list {
  .indents-none();
  padding-left: 25px;
  margin-bottom: 32px;
}

.business-rates__close {
  box-sizing: border-box;
  width: 100%;
  min-height: 59px;
  padding-top: 19px;
  padding-bottom: 17px;
  font: inherit;
  line-height: 24px;
  font-weight: @bold;
  text-transform: uppercase;
  color: @btn-darkblue;
  background-color: @btn-lightgrey;
  border: none;
  .section-radius(20px);
}

@media (min-width: @tablet-width) {
  .business-rates {
    width: 688px;
    padding-top: 51px;
    border-radius: 30px;
  }

  .business-rates__title {
    margin-bottom: 46px;
  }

  .business-rates .price-list {
    width: 506px;
    font-size: 22px;
    line-height: 22px;
  }

  .business-rates__list {
    padding-left: 91px;
    margin-bottom: 51px;
  }

  .business-rates__close {
    min-height: 108px;
    padding-top: 41px;
    padding-bottom: 43px;
    font-size: 24px;
    text-transform: none;
    .section-radius(30px);
  }
}

@media (min-width: @desktop-width) {
  .business-rates {
    width: 750px;
  }

  .business-rates .price-list {
    width: 630px;
  }

  .business-rates__list {
    padding-left: 59px;
  }
}
