.button {
  .inline-block();
  width: 246px;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 21px;
  font-size: 18px;
  line-height: 18px;
  font-weight: @bold;
  color: @btn-darkblue;
  background-color: @yellow;
  border: none;
  border-radius: 10px;
}
