.button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 23px;
  padding-left: 24px;
  padding-bottom: 21px;
  padding-right: 23px;
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: @bold;
  color: @btn-darkblue;
  background-color: @yellow;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover:not(&--bordered),
  &:focus:not(&--bordered) {
    background-color: @lightorange;
  }

  &:active:not(&--bordered) {
    color: fade(@btn-darkblue, 30%);
  }

  &--bordered {
    padding-top: 20px;
    padding-left: 21px;
    padding-bottom: 18px;
    padding-right: 20px;
    border: 3px solid @darkblue;

    &:hover,
    &:focus {
      background-color: @darkblue;
      border-color: @darkblue;
      color: @white;
    }

    &:active {
      color: fade(@white, 30%);
    }
  }

  &--half {
    justify-content: center;
    padding-right: 20px;
  }
}

.button__arrow {
  fill: @btn-darkblue;
  margin-top: 1px;
}

.button--bordered:hover .button__arrow,
.button--bordered:focus .button__arrow,
.button--bordered:active .button__arrow {
  fill: @white;
}

.button:active .button__arrow {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .button {
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 27px;
    padding-right: 36px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &--bordered {
      padding-top: 27px;
      padding-bottom: 24px;
      padding-right: 33px;
    }

    &--half {
      padding-left: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .button__arrow {
    margin-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    &--half {
      justify-content: space-between;
      padding-left: 35px;
      text-align: left;
    }
  }
}
