.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.calendar__month-title {
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 20px;
  font-weight: @bold;
  color: @btn-darkblue;
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;
}

.calendar__month-arrow {
  position: absolute;
  top: 13px;
  width: 9px;
  height: 18px;

  &--previous {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.calendar__arrow-icon {
  fill: @arrow-black;
  opacity: 0.3;
}

.calendar__month-arrow:hover .calendar__arrow-icon,
.calendar__month-arrow:focus .calendar__arrow-icon {
  opacity: 0.5;
}

.calendar__month-arrow:active .calendar__arrow-icon {
  opacity: 0.1;
}

.calendar__weekday {
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  font-weight: @normal;

  &--weekend {
    color: @red;
  }
}

.calendar__weekday-title,
.calendar__day-title {
  display: none;
}

.calendar__day {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: @lightgrey;
  border: 1px solid @border-grey;

  &--disabled {
    background-color: @white;
  }

  &--chosen {
    background-color: @tooltip-darkblue;
  }

  &--current,
  &:hover:not(&--disabled),
  &:focus:not(&--disabled) {
    background-color: @btn-darkblue;
  }
}

.calendar__link {
  .inline-block();
  box-sizing: border-box;
  width: 100%;
  height: 28px;
  line-height: 30px;
  font-size: 14px;
  color: @darkgrey;
}

.calendar__day--disabled .calendar__link {
  color: fade(@darkgrey, 30%);
  cursor: default;
}

.calendar__day--chosen .calendar__link {
  color: @white;
}

.calendar__day--current .calendar__link,
.calendar__day:hover:not(.calendar__day--disabled) .calendar__link,
.calendar__day:focus:not(.calendar__day--disabled) .calendar__link {
  color: @white;
  outline: 2px solid @red;
}


@media (min-width: @tablet-width) {
  .calendar {
    width: 530px;
  }

  .calendar__month-title {
    padding-top: 28px;
    padding-bottom: 21px;
    margin-bottom: 33px;
    font-size: 36px;
    line-height: 36px;
    border-top-color: @border-lightgrey;
    border-bottom-color: @border-lightgrey;
  }

  .calendar__month-arrow {
    top: 28px;
    width: 15px;
    height: 28px;

    &--previous {
      left: 18px;
    }

    &--next {
      right: 18px;
    }
  }

  .calendar__arrow-icon {
    width: 15px;
    height: 28px;
  }

  .calendar__weekday {
    padding-left: 4px;
    padding-bottom: 1px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
  }

  .calendar__weekday-title {
    display: inline;
  }

  .calendar__day {
    width: 77px;
    height: 69px;
  }

  .calendar__link {
    height: 66px;
    padding-left: 4px;
    font-size: 20px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: @medium;
    color: @btn-darkblue;
  }

  .calendar__day--disabled .calendar__link {
    color: fade(@btn-darkblue, 30%);
  }

  .calendar__day--current .calendar__link,
  .calendar__day:hover:not(.calendar__day--disabled) .calendar__link,
  .calendar__day:focus:not(.calendar__day--disabled) .calendar__link {
    line-height: 68px;
    border: 1px solid @red;
    outline: 3px solid @red;
  }
}

@media (min-width: @desktop-width) {
  .calendar {
    width: 1000px;
    text-align: left;
  }

  .calendar__month-title {
    margin-bottom: 12px;
  }

  .calendar__month-arrow {
    width: 18px;
    height: 34px;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  .calendar__arrow-icon {
    width: 18px;
    height: 34px;
  }

  .calendar__weekday {
    padding-left: 15px;
    padding-bottom: 12px;
  }

  .calendar__day {
    width: 143px;
    height: 70px;
    vertical-align: top;
  }

  .calendar__day-title {
    display: inline;

    &--chosen {
      display: block;
      line-height: 8px;
    }
  }

  .calendar__link {
    height: 68px;
    padding-left: 14px;
    font-size: 18px;
    line-height: 45px;
    letter-spacing: 1.8px;
    font-weight: @normal;
    color: @darkgrey;
  }

  .calendar__day--disabled .calendar__link {
    color: fade(@darkgrey, 30%);
  }

  .calendar__day--current .calendar__link,
  .calendar__day:hover:not(.calendar__day--disabled) .calendar__link,
  .calendar__day:focus:not(.calendar__day--disabled) .calendar__link {
    line-height: 43px;
    padding-left: 13px;
  }

  .calendar__day--current .calendar__day-title--chosen,
  .calendar__day:hover:not(.calendar__day--disabled) .calendar__day-title--chosen,
  .calendar__day:focus:not(.calendar__day--disabled) .calendar__day-title--chosen {
    line-height: 10px;
  }
}
