.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.calendar__month-title {
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 20px;
  font-weight: @bold;
  color: @btn-darkblue;
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;
}

.calendar__month-arrow {
  position: absolute;
  top: 13px;
  width: 9px;
  height: 18px;

  &--previous {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.calendar__weekday {
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  font-weight: @normal;

  &--weekend {
    color: @red;
  }
}

.calendar__weekday-title,
.calendar__day-title {
  display: none;
}

.calendar__day {
  box-sizing: border-box;
  width: 30px;
  padding-top: 5px;
  padding-bottom: 2.5px;
  background-color: @lightgrey;
  border: 1px solid @border-grey;

  &--chosen {
    background-color: @btn-darkblue;
  }

  &--disabled {
    background-color: @white;
  }
}

.calendar__link {
  font-size: 14px;
  color: @darkgrey;

  &--chosen {
    color: @white;
  }

  &--disabled {
    color: fade(@darkgrey, 30%);
    cursor: default;
  }
}

@media (min-width: @tablet-width) {
  .calendar {
    width: 530px;
  }

  .calendar__month-title {
    padding-top: 28px;
    padding-bottom: 21px;
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 36px;
    border-top-color: @border-lightgrey;
    border-bottom-color: @border-lightgrey;
  }

  .calendar__month-arrow {
    top: 28px;
    width: 15px;
    height: 28px;

    &--previous {
      left: 18px;
    }

    &--next {
      right: 18px;
    }
  }

  .calendar__weekday {
    padding-left: 4px;
    padding-bottom: 1px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
  }

  .calendar__weekday-title {
    display: inline;
  }

  .calendar__day {
    width: 77px;
    padding-top: 23px;
    padding-bottom: 21px;
    padding-left: 4px;
  }

  .calendar__link {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: @medium;
    color: @btn-darkblue;

    &--chosen {
      color: @white;
    }

    &--disabled {
      color: fade(@btn-darkblue, 30%);
    }
  }
}

@media (min-width: @desktop-width) {
  .calendar {
    width: 1000px;
    text-align: left;
  }

  .calendar__month-title {
    margin-bottom: 12px;
  }

  .calendar__weekday {
    padding-left: 15px;
    padding-bottom: 12px;
  }

  .calendar__day {
    width: 143px;
    padding-top: 8px;
    padding-bottom: 32px;
    padding-left: 15px;
    vertical-align: top;

    &--chosen {
      padding-bottom: 10px;
    }
  }

  .calendar__day-title {
    display: inline;

    &--chosen {
      display: block;
      line-height: 22px;
    }
  }

  .calendar__link {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
    font-weight: @normal;
    color: @darkgrey;

    &--chosen {
      color: @white;
    }

    &--disabled {
      color: fade(@darkgrey, 30%);
    }
  }
}
