.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  padding-top: 13px;
  padding-bottom: 15px;
  font-weight: @normal;
  color: @darkgrey;
  border-top: 1px solid fade(@black, 5%);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  .indents-none();
}

.copyright__logo {
  fill: @darkblue;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 155px;
    border-top: none;
  }

  .copyright__text {
    padding-bottom: 3px;
    font-size: 20px;
    line-height: 20px;
  }
}
