.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid fade(@black, 5%);
}

.copyright__text {
  .indents-none();
  font-weight: @normal;
  color: @darkgrey;
}

.copyright__picture {
  display: block;
}
