.country-entertainment__title {
  display: block;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: @medium;
  color: @btn-darkblue;
}

.country-entertainment__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 220px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 9px;
  font: inherit;
  font-weight: normal;
  color: @darkgrey;
  resize: none;
  border: 1px solid @border-grey;
  border-radius: 4px;

  &::placeholder {
    color: fade(@darkgrey, 30%);
  }
}
