.country-selector {
  .list-reset();
  text-align: left;
}

.country-selector__link {
  display: block;
  font-weight: @normal;
  color: @darkgrey;

  &:hover,
  &:focus {
    color: @btn-darkblue;
  }

  &:active {
    color: fade(@btn-darkblue, 30%);
  }
}

.country-selector--hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .country-selector__link {
    font-size: 20px;
    line-height: 30px;
  }
}
