.country-card {
  &:last-child {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 270px;
      height: 81px;
      background-image: linear-gradient(to bottom, fade(@lightgrey, 0%), @lightgrey);
      z-index: 10;
    }
  }
}

.country-card__photo {
  display: block;
  width: 270px;
  height: 110px;
  .section-radius-top(10px);
}

.country-card__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 222px;
  margin-top: -11px;
  padding-top: 27px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: @white;
  border-radius: 10px;
}

.country-card__flag {
  position: relative;

  &::after {
    top: -12px;
    left: 25px;
  }
}

.country-card__title {
  .indents-none();
  font-size: 21px;
  line-height: 21px;
  font-weight: @bold;
  color: @bg-darkblue;
}

.country-card__description,
.country-card__counter {
  .indents-none();
  font-weight: @medium;
  color: fade(@darkgrey, 30%);
}

.country-card__description {
  padding-left: 1px;
}

.country-card__counter {
  position: relative;
}

.country-card__counter-icon {
  position: absolute;
  top: 5px;
  left: -18px;
  width: 11px;
  height: 11px;
  fill: fade(@darkblue, 10%);
}

@media (min-width: @tablet-width) {
  .country-card {
    display: flex;
    justify-content: center;

    &:last-child {
      &::after {
        background-image: linear-gradient(to bottom, fade(@lightgrey, 0%), @lightgrey 90%);
        left: 35px;
        width: 688px;
      }
    }
  }

  .country-card__picture {
    order: 2;
  }

  .country-card__photo {
    width: 186px;
    height: 140px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .country-card__info {
    order: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 402px;
    .indents-none();
    margin-top: 0;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .country-card__flag {
    &::after {
      top: 16px;
      left: 398px;
    }
  }

  .country-card__title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
  }

  .country-card__description,
  .country-card__counter {
    font-size: 20px;
    line-height: 17.7px;
  }

  .country-card__counter {
    margin-top: 23px;
    padding-left: 30px;
  }

  .country-card__counter-icon {
    position: absolute;
    top: -3px;
    left: 0;
    width: 21px;
    height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .country-card {
    &:last-child {
      &::after {
        left: 0;
      }
    }
  }

  .country-card__info {
    width: 343px;
    padding-top: 23px;
  }

  .country-card__flag {
    &::after {
      top: 23px;
      left: 338px;
    }
  }

  .country-card__counter {
    margin-top: 30px;
  }
}
