.country-select {
  position: relative;

  &--chosen {
    display: flex;
    align-items: flex-start;
  }

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 49px;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 2;
  }

  &--chosen::before {
    background-color: @btn-darkblue;
  }

  &--empty::before {
    background-color: @white;
    border: 1px solid @border-grey;
  }

  &--add::before {
    background-color: @lightgrey;
    border: 1px solid @border-grey;
  }

  &--chosen::after,
  &--empty::after {
    content: "";
    position: absolute;
    bottom: -16px;
    right: 50px;
    width: 5px;
    height: 10px;
    background-image: url("../img/icon-small-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.country-select__field {
  .indents-none();
  position: relative;
  box-sizing: border-box;
  width: 168px;
  min-height: 42px;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 35px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: @medium;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  white-space: nowrap;
  overflow: hidden;
  color: @btn-darkblue;
  background-color: transparent;
  border: 1px solid @border-grey;
  border-radius: 4px;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:hover:not(&--add):not(&--flag),
  &:focus:not(&--add):not(&--flag) {
    border-color: @hover-border-darkgrey;
    outline: none;
  }

  &--flag {
    width: 53px;
    margin-left: -1px;

    &::after {
      top: 8px;
      left: 8px;
    }
  }

  &--empty {
    width: 220px;
  }

  &--add {
    padding-left: 11px;
    text-align: left;
    background-color: @lightgrey;
    border-color: @lightgrey;
    outline: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 19px;
      right: 13px;
      width: 14px;
      height: 2px;
      background-color: @plus-lightgrey;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover,
    &:focus {
      background-color: @btn-lightblue;
      border-color: @btn-lightblue;
      cursor: pointer;

      &::before,
      &::after {
        background-color: @hover-plus-grey;
      }
    }

    &:active {
      color: fade(@btn-darkblue, 30%);

      &::before,
      &::after {
        background-color: @active-plus-grey;
      }
    }
  }
}

.country-select__label {
  display: block;
  position: relative;
}

.country-select--chosen .country-select__label {
  &::after {
    .fade();
    top: 3px;
    right: 0;
  }
}

.country-select__field-arrow {
  position: absolute;
  top: 18px;
  right: 14px;
  fill: @arrow-black;
  opacity: 0.3;
  z-index: 1;
}

.country-select__field:hover ~ .country-select__field-arrow,
.country-select__field:focus ~ .country-select__field-arrow {
  opacity: 0.5;
}

.country-select__delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  background-color: @lightgrey;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.country-select__delete-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  fill: @black;
  opacity: 0.3;
}

.country-select__dropdown-wrapper {
  position: relative;
}

.country-select__dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.country-select__dropdown-wrapper--opened .country-select__delete {
  display: none;
}

.country-select__dropdown-wrapper--opened .country-select__dropdown {
  display: block;
}

.country-select__dropdown-wrapper--closed .country-select__dropdown {
  display: none;
}


@media (min-width: @tablet-width) {
  .country-select {
    &::before {
      top: 26px;
      right: 129px;
      width: 15px;
      height: 15px;
    }

    &--chosen::after,
    &--empty::after {
      display: none;
    }
  }

  .country-select__field {
    width: 369px;
    min-height: 70px;
    padding-top: 27px;
    padding-left: 21px;
    padding-bottom: 23px;
    font-size: 20px;
    letter-spacing: 2px;

    &--flag {
      width: 122px;
      margin-left: 26px;
      border: none;
      background-color: transparent;

      &::after {
        top: 12px;
        left: 27px;
      }
    }

    &--empty {
      width: 369px;
    }

    &--add {
      padding-left: 25px;
    }

    &--add::before,
    &--add::after {
      top: 33px;
      right: 26px;
      width: 18px;
      height: 2px;
      background-color: @plus-grey;
    }
  }

  .country-select__label {
    width: 369px;
  }

  .country-select--chosen .country-select__label {
    &::after {
      display: none;
    }
  }

  .country-select__field-arrow {
    top: 30px;
    right: 27px;
    width: 17px;
    height: 9px;
  }

  .country-select__delete {
    top: 25px;
    right: -2px;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border-radius: 0;
  }

  .country-select__delete-icon {
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    opacity: 0.1;
  }

  .country-select__delete:hover .country-select__delete-icon,
  .country-select__delete:focus .country-select__delete-icon {
    opacity: 0.3;
  }

  .country-select__delete:active .country-select__delete-icon {
    opacity: 0.05;
  }

  .country-select__dropdown-wrapper--opened .country-select__delete {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .country-select {
    &::before {
      right: 218px;
    }
  }

  .country-select__field {
    width: 730px;

    &--flag {
      width: 135px;

      &::after {
        left: 58px;
      }
    }
  }

  .country-select__label {
    width: 730px;
  }

  .country-select__delete {
    right: 6px;
    width: 18px;
    height: 18px;
  }
}
