.countries-list {
  .list-reset();
  font-size: 15px;
  line-height: 18px;
  font-weight: @medium;
  text-transform: uppercase;
  color: @btn-darkblue;
}

.countries-list__item {
  padding-left: 39px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .countries-list {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 30px;
  }

  .countries-list__item {
    padding-left: 42px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .countries-list {
    flex-direction: column;
  }

  .countries-list__item {
    padding-left: 55px;
    margin-bottom: 7px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
