.destinations {
  position: relative;
  margin-top: -30px;
  padding-top: 102px;
  padding-bottom: 30px;
  background-color: @lightgrey;
  z-index: 6;
  .section-radius();
}

.destinations__title {
  padding-left: 25px;
  margin-bottom: 20px;
}

.destinations__message {
  .indents-none();
  width: 200px;
  margin-bottom: 60px;
  padding-left: 25px;
  color: @darkgrey;
}

.destinations__list {
  .indents-none();
  margin-bottom: 25px;
}

.destinations__to-all {
  width: 270px;
}

@media (min-width: @tablet-width) {
  .destinations {
    margin-top: -60px;
    padding-top: 133px;
    padding-bottom: 80px;
    background-image: url("../img/flags-back@1x.png");
    background-position: 439px 140px;
    background-repeat: no-repeat;
    .section-radius(60px);
  }

  .destinations__title {
    padding-left: 33px;
    margin-bottom: 57px;
  }

  .destinations__message {
    width: 340px;
    margin-bottom: 105px;
    padding-left: 35px;
  }

  .destinations__list {
    position: relative;
    margin-bottom: 47px;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      width: 141px;
      height: 141px;
      background-color: @bg-lightgrey;
      border-radius: 20px;
    }
  }

  .destinations__to-all {
    width: 618px;
    margin-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 221px;
    padding-right: 239px;
    padding-bottom: 139px;
    background-position: 1091px 148px;
  }

  .destinations__wrapper {
    order: 2;
    padding-top: 5px;
  }

  .destinations__title {
    padding-left: 0;
  }

  .destinations__message {
    margin-bottom: 0;
    padding-left: 0;
  }

  .destinations__list {
    order: 1;
    margin-bottom: 0;
    margin-right: 171px;

    &::before {
      top: -72px;
      left: -71px;
    }
  }

  .destinations__to-all {
    order: 3;
    width: 274px;
    margin-top: -81px;
    margin-left: 0;
    margin-right: 63px;
  }
}
