.form-section {
  .indents-none();
  position: relative;
  border: none;
}

.form-section__title {
  .indents-none();
  padding-top: 12px;
  padding-bottom: 9px;
  font-weight: @bold;
  line-height: 18px;
  text-transform: uppercase;
  color: @btn-darkblue;
}

.form-section__expanded {
  &--closed {
    display: none;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  @media (min-width: @tablet-width) {
    .form-section__title {
      position: absolute;
      top: -1px;
      left: 0;
      font-size: 20px;
      line-height: 30px;
      font-weight: @medium;
    }

    .form-section__expanded {
      &--closed {
        display: block;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .form-section__title {
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: @medium;
    font-size: 20px;
    line-height: 30px;
  }
}
