.form-section {
  .indents-none();
  position: relative;
  border: none;
}

.form-section__title {
  position: relative;
  .indents-none();
  width: 100%;
  padding-top: 12px;
  padding-bottom: 9px;
  font-weight: @bold;
  line-height: 18px;
  text-transform: uppercase;
  color: @btn-darkblue;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.form-section__toggle {
  position: absolute;
  top: 18px;
  right: 0;
  fill: @darkblue;
  transition: 0.2s linear;
}

.form-section__title-colon {
  display: none;
}

.form-section--closed .form-section__expanded {
  display: none;
}

.form-section--opened .form-section__expanded {
  display: block;
}

.form-section--opened .form-section__toggle {
  transform: rotate(180deg);
}


@media (min-width: @tablet-width) and (max-width: @mobile-tablet-width-only) {
  .form-section__title {
    position: absolute;
    top: -1px;
    left: 0;
    width: auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: @medium;
  }

  .form-section__title-colon {
    display: inline;
  }

  .form-section__toggle {
    display: none;
  }

  .form-section--opened .form-section__expanded,
  .form-section--closed .form-section__expanded {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .form-section__title {
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: @medium;
    font-size: 20px;
    line-height: 30px;
  }

  .form-section__toggle {
    width: 10px;
    height: 5px;
    top: 15px;
    right: 6px;
  }
}
