.hashtags {
  .list-reset();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: @normal;
  line-height: 18px;
  color: @darkgrey;

  &--small {
    justify-content: flex-start;
    font-size: 15px;
  }
}

.hashtags__item {
  margin-right: 5px;
}

@media (min-width: @tablet-width) {
  .hashtags {
    font-size: 20px;
    line-height: 24px;
  }

  .hashtags__item {
    margin-right: 6px;
  }
}
