.intro {
  padding-top: 20px;
  padding-bottom: 108px;
  background-image:
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-position: 80px 150px, center -73px;
  background-repeat: no-repeat, no-repeat;
}

.intro__slogan {
  .indents-none();
  width: 237px;
  margin-bottom: 245px;
  padding-left: 17px;
  font-size: 36px;
  line-height: 40px;
  font-weight: @bold;
  text-align: center;
}

.intro__user {
  .indents-none();
}

.intro__review {
  .indents-none();
  box-sizing: border-box;
  width: 270px;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 90px;
  background-color: @bg-darkblue;
  box-shadow: 0 5px 0 25px @bg-darkblue;
}
