.map {
  position: relative;
  margin-top: -30px;
  z-index: 1;
}

.map__scheme {
  .indents-none();
  width: 100%;
  height: 332px;
  display: block;
  border: none;
}

@media (min-width: @tablet-width) {
  .map {
    margin-top: -60px;
  }

  .map__scheme {
    height: 581px;
  }
}

@media (min-width: @desktop-width) {
  .map__scheme {
    height: 516px;
  }
}
