.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  min-height: 50px;
  background-color: @white;
  border-radius: 20px;
}

.paginator__pages,
.paginator__buttons {
  .list-reset();
  .indents-none();
}

.paginator__pages {
  display: none;
}

.paginator__buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 50px;
    background-color: @lightgrey;
  }
}

.paginator__item {
  margin-left: auto;
  margin-right: auto;
}

.paginator__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 10px;
  height: 20px;
  line-height: 20px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.paginator__button-icon {
  fill: @darkblue;
}

@media (min-width: @tablet-width) {
  .paginator {
    justify-content: space-between;
    width: 688px;
    min-height: 100px;
    padding-left: 28px;
    padding-right: 35px;
  }

  .paginator__pages {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .paginator__page {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;

    &--active,
    &:active {
      background-color: @yellow;
      border-radius: 50%;
    }
  }

  .paginator__page:hover .paginator__link,
  .paginator__page:focus .paginator__link {
    color: fade(@bg-darkblue, 60%);
  }

  .paginator__page:active .paginator__link {
    color: @bg-darkblue;
  }

  .paginator__link {
    font-size: 20px;
    line-height: 53px;
    font-weight: @bold;
    color: @bg-darkblue;
  }

  .paginator__item {
    margin: 0;
  }

  .paginator__buttons {
    width: 53px;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }

  .paginator__button {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .paginator {
    width: 950px;
    padding-right: 44px;
  }
}
