.plan-add {
  .section-radius-top();
  margin-top: -30px;
  background-color: @bg-blue;
}

.plan-add__wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 64px;
}

.plan-add__field-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.plan-add__markers-list {
  .indents-none();
  display: none;

  &--current {
    display: flex;
    position: absolute;
    top: 39px;
    right: 48px;
  }
}

.plan-add__field {
  .indents-none();
  margin-bottom: 10px;
  padding-top: 24px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: @normal;
  color: @darkgrey;
  background-color: @white;
  border: none;
  border-radius: 10px;
}

.plan-add__field-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

.plan-add__field-title {
  .indents-none();
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: @bold;
  color: @btn-darkblue;
}

.plan-add__next-step {
  width: 230px;
}

.plan-add__previous-step {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: @bold;
  text-transform: uppercase;
  color: @bg-darkblue;

  &:hover,
  &:focus {
    color: fade(@bg-darkblue, 70%);
  }

  &:active {
    color: fade(@bg-darkblue, 30%);
  }
}

@media (min-width: @tablet-width) {
  .plan-add .user-form__section-title {
    margin-bottom: 50px;
  }

  .plan-add__wrapper {
    padding-top: 46px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 82px;
  }

  .plan-add__markers-list {
    &--current {
      top: 66px;
      right: 80px;
    }
  }

  .plan-add__field {
    margin-bottom: 40px;
    padding-top: 48px;
    padding-bottom: 53px;
    padding-left: 43px;
    padding-right: 43px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 30px;

    &:last-child {
      margin-top: 50px;
    }
  }

  .plan-add__field-wrapper {
    .indents-none();
  }

  .plan-add__field-title {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 36px;
  }

  .plan-add__buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .plan-add__next-step {
    width: 285px;
  }

  .plan-add .round-button {
    padding-top: 30px;
    padding-left: 33px;
    padding-bottom: 27px;
    padding-right: 33px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    text-transform: none;
    border-radius: 20px;
  }

  .plan-add__previous-step {
    align-items: center;
    margin-top: 3px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    color: @btn-darkblue;

    &:hover,
    &:focus {
      color: fade(@btn-darkblue, 70%);
    }

    &:active {
      color: fade(@btn-darkblue, 30%);
    }
  }
}

@media (min-width: @desktop-width) {
  .plan-add {
    .section-radius-top(60px);
    margin-top: -60px;
  }

  .plan-add .user-form__section-title {
    margin-left: 63px;
    margin-bottom: 48px;
  }

  .plan-add__wrapper {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 87px;
  }

  .plan-add__markers-list {
    display: flex;
    margin-top: 12px;
    margin-right: 46px;

    &--current {
      position: static;
    }
  }

  .plan-add__field {
    margin-bottom: 45px;
    padding-top: 98px;
    padding-bottom: 104px;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 60px;

    &:last-child {
      margin-top: 0;
    }
  }

  .plan-add__field-title {
    display: inline;
  }

  .plan-add__previous-step {
    margin-right: 3px;
  }
}
