.plan {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  font-weight: @medium;
  color: @btn-darkblue;
  background-color: @white;
  border-radius: 10px;
}

.plan__title {
  .indents-none();
  margin-bottom: 15px;
}

.plan__title-head {
  font-weight: @bold;
}

.plan__info {
  .indents-none();
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  &--link {
    .inline-block();
    margin-top: 17px;
    color: fade(@black, 30%);
  }
}
