.profile {
  box-sizing: border-box;
  width: 270px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 18px;
  padding-right: 17px;
  font-size: 15px;
  line-height: 18px;
  font-weight: @normal;
  color: @darkgrey;
  background-color: @white;
  border-radius: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.profile__header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 15px;
}

.profile__avatar {
  position: relative;
}

.profile__photo {
  display: block;
  border-radius: 50%;
}

.profile__like-button {
  position: absolute;
  top: 39px;
  right: -10px;
  width: 31px;
  height: 31px;
  text-align: left;
  background-color: @lightgrey;
  border: none;
  border-radius: 50%;

  &--active {
    background-color: @pink;
  }
}

.profile__like-counter {
  position: absolute;
  top: 7px;
  left: 37px;
  font-size: 14px;
  line-height: 21px;
  font-weight: @bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: @bg-darkblue;
}

.profile__name {
  .indents-none();
  margin-left: 16px;
  width: 78px;
  font-size: 20px;
  line-height: 20px;
  font-weight: @bold;
  color: @btn-darkblue;
}

.profile__name a {
  color: inherit;
}

.profile__status::before {
  top: 8px;
  right: 5px;
}

.profile__hashtags-list {
  .indents-none();
  width: 174px;
  padding-left: 7px;
  margin-bottom: 13px;
}

.profile__directions {
  padding-left: 8px;
  margin-bottom: 11px;
}

.profile__legend {
  .indents-none();
}

.profile__countries {
  .indents-none();
  margin-top: 17px;
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
}

.profile__transport {
  padding-left: 8px;
}

.profile__vehicles-list {
  .indents-none();
  margin-top: 15px;
}

.profile__level {
  .indents-none();
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  margin-top: 7px;
  margin-right: 2px;
  font-size: 24px;
  line-height: 45px;
  font-weight: @bold;
  color: @btn-darkblue;
  text-align: center;
  border: 2.5px solid @darkorange;
  border-radius: 50%;
}

.profile__to-call {
  margin-top: 14px;
  margin-left: 2px;
}
