.profiles {
  padding-top: 14px;
  padding-bottom: 76px;
  z-index: 1;
}

.profiles__list {
  .indents-none();
  margin-bottom: 20px;
}

.profiles__to-all {
  .inline-block();
  box-sizing: border-box;
  width: 148px;
  position: relative;
  margin-left: 60px;
  margin-bottom: 19px;
  padding-left: 33px;
  font-size: 17px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  color: @btn-darkblue;
}


@media (min-width: @tablet-width) {
  .profiles {
    padding-top: 20px;
    padding-bottom: 122px;
  }

  .profiles__list {
    margin-bottom: 47px;
  }

  .profiles__to-all {
    width: 186px;
    margin-left: 247px;
    margin-bottom: 47px;
    padding-left: 51px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .profiles {
    order: 1;
    padding-top: 77px;
    padding-bottom: 137px;
  }

  .profiles__list {
    margin-bottom: 66px;
  }

  .profiles__to-all {

    margin-left: 345px;
    margin-bottom: 66px;
  }
}
