.profile {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  padding-top: 15px;
  padding-bottom: 22px;
  padding-left: 18px;
  padding-right: 17px;
  font-size: 15px;
  line-height: 18px;
  font-weight: @normal;
  color: @darkgrey;
  background-color: @white;
  border-radius: 20px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px 0 fade(@black, 8%);
  }
}

.profile__avatar {
  position: absolute;
  top: 15px;
  left: 18px;
  border-radius: 50%;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
}

.profile:hover .profile__photo,
.profile:focus .profile__photo {
  transform: scale(1.1);
}

.profile__photo {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.profile__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54px;
  left: 67px;
  width: 31px;
  height: 31px;
  padding-top: 2px;
  font: inherit;
  text-align: left;
  background-color: @lightgrey;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @bg-lightgrey;
  }

  &--active {
    background-color: @pink;
    outline: none;

    &:hover,
    &:focus {
      background-color: @hover-pink;
    }
  }
}

.profile__like-icon {
  fill: @darkblue;
  opacity: 0.3;
}

.profile__like-icon-active {
  display: none;
  fill: @like-red;
}

.profile__like-button--active .profile__like-icon-active {
  display: block;
}

.profile__like-button--active .profile__like-icon {
  display: none;
}

.profile__like-button:hover .profile__like-icon,
.profile__like-button:focus .profile__like-icon {
  opacity: 0.5;
}

.profile__like-button:active .profile__like-icon {
  opacity: 0.1;
}

.profile__like-button--active:active .profile__like-icon-active {
  opacity: 0.3;
}


.profile__like-counter {
  position: absolute;
  top: 7px;
  left: 37px;
  font-size: 14px;
  line-height: 21px;
  font-weight: @bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: @bg-darkblue;
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__name {
  .indents-none();
  margin-left: 86px;
  margin-bottom: 14px;
  width: 78px;
  min-height: 70px;
  font-size: 20px;
  line-height: 20px;
  font-weight: @bold;
}

.profile__name-link {
  .inline-block();
  position: relative;
  color: @btn-darkblue;
  width: 100%;

  &:hover,
  &:focus {
    color: fade(@btn-darkblue, 60%);
  }

  &:active {
    color: fade(@btn-darkblue, 30%);
  }
}

.profile__status::before {
  top: 8px;
  right: -66px;
}

.profile__hashtags-list {
  .indents-none();
  width: 174px;
  padding-left: 7px;
  margin-bottom: 13px;
}

.profile__directions {
  position: relative;
  padding-left: 8px;
  margin-bottom: 17px;
  z-index: 1;

  &--firsova {
    margin-bottom: 11px;
  }

  &--smolov {
    margin-bottom: 14px;
  }
}

.profile__legend {
  .indents-none();
  position: relative;
  z-index: 1;

  &--countries,
  &--transport {
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -26px;
      width: 270px;
      height: 1px;
      background-color: @lightgrey;
      z-index: -1;
    }
  }

  &--level {
    margin-right: -10px;
  }
}

.profile__legend-text {
  min-height: 10px;
  margin-left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @white;
}

.profile__countries {
  .indents-none();
  margin-top: 17px;
}

.profile__transport {
  padding-left: 8px;
}

.profile__vehicles-list {
  .indents-none();
  margin-top: 15px;
}

.profile__rating {
  text-align: center;
  margin-right: 3px;
  z-index: 1;
}

.profile__level {
  position: relative;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  margin-top: 8px;
  border-radius: 50%;
}

.profile__level-circle {
  stroke-width: 5px;
  stroke-dashoffset: 90;

  &--99 {
    stroke-dasharray: 310 5;
  }

  &--80 {
    stroke-dasharray: 275 40;
  }

  &--25 {
    stroke-dasharray: 75 240;
  }

  &--50 {
    stroke-dasharray: 165 150;
  }
}

.profile__level-text {
  .indents-none();
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 24px;
  line-height: 28px;
  font-weight: @bold;
  color: @btn-darkblue;
  text-align: center;
}

.profile__level-legend {
  display: none;
}

.profile__to-call {
  width: 230px;
  margin-top: 14px;
  margin-left: 2px;
}

@media (min-width: @tablet-width) {
  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 688px;
    min-height: 332px;
    padding-top: 33px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 25px;
  }

  .profile__avatar {
    top: 35px;
    left: 35px;
    border-radius: 17px;
  }

  .profile__photo {
    width: 190px;
    height: 190px;
    border-radius: 17px;
  }

  .profile__wrapper {
    &--name {
      order: 1;
      align-items: flex-start;
      width: 237px;
      margin-bottom: 46px;
      margin-left: 223px;
    }

    &--transport {
      order: 2;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-bottom: -55px;
    }
  }

  .profile__name {
    margin-left: 0;
    margin-bottom: 17px;
    width: auto;
    min-height: auto;
    font-size: 30px;
    line-height: 30px;
  }

  .profile__name-link {
    width: auto;
  }

  .profile__status::before {
    top: 11px;
    right: -28px;
  }

  .profile__hashtags-list {
    width: auto;
    padding-left: 3px;
    margin-bottom: 0;
  }

  .profile__to-call {
    order: 2;
    width: 148px;
    margin-top: 0;
    margin-left: 220px;
  }

  .profile__like-button {
    order: 3;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }

  .profile__like-icon,
  .profile__like-icon-active {
    width: 20px;
    height: 17px;
  }

  .profile__like-counter {
    top: 11px;
    left: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  .profile__legend {
    margin-left: 43px;

    &--transport,
    &--level {
      display: none;
    }

    &--countries {
      &::before {
        left: -83px;
        width: 688px;
      }
    }
  }

  .profile__transport {
    padding-left: 0;
  }

  .profile__vehicles-list {
    margin-top: 0;
  }

  .profile__transport .vehicles {
    flex-direction: column;
  }

  .profile__rating {
    margin-right: 0;
  }

  .profile__level {
    position: relative;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
  }

  .profile__level-circle {
    width: 60px;
    height: 60px;

    &--80 {
      stroke-dasharray: 265 50;
    }
  }

  .profile__level-text {
    left: 17px;
  }


  .profile__level-legend {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: @normal;
    color: fade(@darkgrey, 40%);

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 31px;
      height: 1px;
      background-color: @black;
      opacity: 0.1;
    }
  }

  .profile__directions {
    order: 5;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 0;
    padding-left: 5px;
  }

  .profile__countries {
    margin-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .profile {
    width: 950px;
    min-height: 285px;
    padding-top: 47px;
    padding-bottom: 47px;

    &::before {
      content: "";
      position: absolute;
      top: 49px;
      right: 319px;
      width: 1px;
      height: 187px;
      background-image: linear-gradient(@transparent-white, @transparent-black 25%, @transparent-black 75%, @transparent-white);
    }
  }

  .profile__avatar {
    top: 0;
    left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .profile__photo {
    width: 285px;
    height: 285px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .profile__wrapper {
    &--name {
      order: 1;
      margin-bottom: 45px;
      margin-left: 309px;
    }

    &--transport {
      order: 5;
      flex-direction: row;
      margin-top: -5px;
      margin-left: 130px;
    }
  }

  .profile__name {
    margin-bottom: 18px;
  }


  .profile__status::before {
    top: 11px;
    left: -25px;
  }

  .profile__legend {
    display: none;
  }

  .profile__directions {
    order: 2;
    width: auto;
    .indents-none();
    margin-left: 92px;

    &::before {
      display: none;
    }
  }

  .profile__countries {
    margin-top: 2px;
  }

  .profile__to-call {
    order: 3;
    margin-left: 306px;
  }

  .profile__like-button {
    order: 4;
  }

  .profile__transport .vehicles {
    flex-direction: row;
  }

  .profile__vehicles-list {
    margin-top: 0;
    margin-right: 45px;
  }

  .profile__level {
    margin-top: 0;
  }
}
