.profiles {
  padding-top: 14px;
  padding-bottom: 76px;
  background-color: @lightgrey;
  z-index: 1;
}

.profiles__list {
  .indents-none();
  margin-bottom: 20px;
}

.profiles__to-all {
  display: block;
  box-sizing: border-box;
  width: 148px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-left: 32px;
  font-size: 17px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  color: @btn-darkblue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 18px;
    height: 2px;
    background-color: @btn-darkblue;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: @tablet-width) {
  .profiles {
    padding-top: 20px;
    padding-bottom: 122px;
  }

  .profiles__list {
    margin-bottom: 46px;
  }

  .profiles__to-all {
    width: 186px;
    margin-bottom: 47px;
    padding-left: 47px;
    font-size: 20px;
    line-height: 30px;

    &::before,
    &::after {
      top: 11px;
      left: -4px;
      width: 27px;
      height: 3px;
      border-radius: 4px;
    }
  }
}

@media (min-width: @desktop-width) {
  .profiles {
    order: 1;
    padding-top: 0;
    padding-bottom: 137px;
  }

  .profiles__list {
    margin-bottom: 66px;
  }

  .profiles__to-all {
    margin-left: 350px;
    margin-bottom: 66px;
  }
}
