.rates {
  position: relative;
  margin-top: -30px;
  padding-top: 81px;
  padding-bottom: 35px;
  background-color: @lightgrey;
  background-image: url("../img/rates@1x.png");
  background-position: 195px 68px;
  background-repeat: no-repeat;
  background-size: 99px;
  z-index: 4;
  .section-radius();
}

.rates__title {
  width: 105px;
  padding-left: 25px;
  margin-bottom: 45px;
}

.rates__list {
  .indents-none();
  padding-left: 25px;
  margin-bottom: 27px;
}

.rates__to-business {
  padding-left: 25px;
  line-height: 16px;
  font-weight: @bold;
  color: @darkblue;
}
