.regions {
  .list-reset();
}

.regions__item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.regions__link {
  font-weight: @bold;
  text-transform: uppercase;
  color: fade(@darkblue, 30%);

  &--current {
    color: @darkblue;
  }
}

@media (min-width: @tablet-width) {
  .regions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 365px;
  }

  .regions__item {
    margin-bottom: 0;
  }

  .regions__link {
    font-size: 20px;
    line-height: 24px;
  }
}
