.round-button {
  .inline-block();
  width: 189px;
  padding-top: 7px;
  padding-bottom: 3px;
  font-size: 17px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  text-align: center;
  color: @bg-darkblue;
  background-color: @yellow;
  border: none;
  border-radius: 20px;

  &--medium {
    width: 230px;
  }

  &--big {
    width: 270px;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 25px;
  }
}
