.round-button {
  .inline-block();
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 3px;
  font: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  text-align: center;
  color: @bg-darkblue;
  background-color: @yellow;
  border: none;
  border-radius: 20px;

  &--big {
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 25px;
  }

  &--darkblue {
    padding-left: 28px;
    font-size: 16.5px;
    line-height: 29.5px;
    background-color: @btn-blue;
  }

  &--blue {
    background-color: @btn-lightblue;
  }

  &--white {
    background-color: @white;
  }
}
