.round-button {
  .inline-block();
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 3px;
  font: inherit;
  font-size: 17px;
  line-height: 30px;
  font-weight: @bold;
  text-transform: uppercase;
  text-align: center;
  color: @bg-darkblue;
  background-color: @yellow;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:hover:not(&--darkblue):not(&--blue):not(&--white),
  &:focus:not(&--darkblue):not(&--blue):not(&--white) {
    background-color: @lightorange;
  }

  &:active {
    color: fade(@bg-darkblue, 30%);
  }

  &--big {
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 25px;
  }

  &--darkblue {
    padding-left: 31px;
    font-size: 17px;
    line-height: 30px;
    background-color: @btn-blue;

    &:hover,
    &:focus,
    &:active {
      background-color: @hover-btn-blue;
    }

    &:active {
      &::before,
      &::after {
        background-color: @active-darkblue;
      }
    }
  }

  &--blue {
    background-color: @btn-lightblue;

    &:hover,
    &:focus,
    &:active {
      background-color: @hover-btn-lightblue;
    }
  }

  &--white {
    background-color: @white;

    &:hover,
    &:focus {
      box-shadow: 0 2px 10px 0 fade(@black, 8%);
    }

    &:active {
      background-color: @darkyellow;
    }
  }
}

@media (min-width: @tablet-width) {
  .round-button {
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 20px;
    color: @btn-darkblue;
    border-radius: 25px;

    &:active {
      color: fade(@btn-darkblue, 30%);
    }

    &--darkblue {
      padding-left: 42px;
      line-height: 30px;
      border-radius: 20px;
    }

    &--blue {
      padding-top: 22px;
      padding-bottom: 20px;
      line-height: 18px;
      letter-spacing: 2px;
      font-weight: @medium;
      border-radius: 10px;
    }

    &--white {
      padding-top: 12px;
      padding-bottom: 8px;
      padding-left: 2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .round-button {
    &--blue {
      padding-top: 16px;
      padding-bottom: 13px;
      .section-radius-top(0);
    }
  }
}
