.site-header {
  position: relative;
  z-index: 10;
}

.site-header__wrapper {
  padding-top: 27px;
}

.site-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 27px;
}

.site-header__logo-image {
  display: block;
  width: 100px;
  height: 19px;
}

.site-header__toggle {
  display: block;
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-position: top;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .site-header__wrapper {
    padding-top: 45px;
  }

  .site-header__top {
    width: 357px;
    padding-bottom: 45px;
  }

  .site-header__logo-image {
    width: 166px;
    height: 42px;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  .site-header {
    &--opened {
      background-color: @white;
    }
  }

  @media (min-width: @tablet-width) {
    .site-header {
      &--tablet-index {
        background-color: @tablet-darkblue;
      }

      &--opened {
        background-color: @white;
      }
    }
  }
}


@media (min-width: @desktop-width) {
  .site-header__wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 47px;
  }

  .site-header__toggle {
    display: none;
  }

  .site-header__top {
    .indents-none();
    position: relative;
    width: 300px;

    &::after {
      content: "";
      position: absolute;
      top: 27px;
      right: 0;
      width: 60px;
      height: 2px;
      background-color: @white;
      border-radius: 1px;
    }
  }

  .site-header__logo-image {
    width: 200px;
    height: 52px;
  }
}
