.site-header {
  &--opened {
    background-color: @white;
  }
}

.site-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.site-header__logo-image {
  display: block;
  width: 100px;
  height: 19px;
}

.site-header__toggle {
  display: block;
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-position: top;
  background-repeat: no-repeat;
}
