.site-navigation {
  display: none;
  padding-top: 45px;
  padding-bottom: 10px;
  text-align: center;

  &--opened {
    display: block;
    background-color: @white;
  }
}

.site-navigation__list {
  .indents-none();
  margin-bottom: 48px;
}

.site-navigation__login {
  width: 270px;
  margin-bottom: 52px;
}

.site-navigation__contacts-list {
  .indents-none();
}

.site-navigation__social-list {
  .indents-none();
}
