.site-footer {
  position: relative;
  margin-top: -30px;
  background-color: @white;
  z-index: 2;
  .section-radius-top();
}

.site-footer__wrapper {
  padding-top: 38px;
}

.site-footer__logo-image {
  display: block;
  margin: 0 auto;
}

.site-footer__social-list {
  .indents-none();
  margin: 0 auto;
  margin-top: 37px;
  margin-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .site-footer {
    margin-top: -60px;
    .section-radius-top(60px);
  }

  .site-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 45px;
  }

  .site-footer__logo-image {
    width: 166px;
    height: 42px;
    margin-top: 8px;
  }

  .site-footer__social-list {
    .indents-none();
    margin-left: -10px;
  }
}

@media (min-width: @desktop-width) {
  .site-footer__logo-image {
    width: 198px;
    height: 52px;
    margin-top: 3px;
  }

  .site-footer__social-list {
    margin-left: -45px;
  }
}
