.site-navigation {
  text-align: center;
  background-color: @white;
}

.site-navigation__wrapper {
  position: relative;
}

.site-navigation__list {
  .indents-none();

  &--main {
    margin-top: 45px;
    margin-bottom: 49px;
  }

  &--user {
    margin-bottom: 52px;
  }
}

.site-navigation__list .user-menu__link {
  display: none;
}

.site-navigation__list .user-menu__login {
  width: 270px;
}


@media (min-width: @tablet-width) {
  .site-navigation {
    position: relative;
    padding-left: 57px;
    text-align: left;
  }

  .site-navigation__list {
    &--main {
      margin-top: 50px;
      margin-bottom: 133px;
    }

    &--user {
      position: absolute;
      top: -92px;
      right: 40px;
      margin-bottom: 0;
    }
  }

  .site-navigation__list .user-menu__login {
    width: 188px;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  .site-navigation {
    &--opened {
      padding-left: 25px;
      padding-right: 25px;
      position: absolute;
      top: 0;
      left: -25px;
      z-index: 10;
    }
  }

  .site-navigation--closed .site-navigation__list {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .site-navigation {
      &--opened {
        padding-left: 97px;
        padding-right: 0;
        width: 671px;
        left: -40px;
      }
    }

    .site-navigation--closed .site-navigation__list {
      &--user {
        display: flex;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .site-navigation {
    .indents-none();
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: transparent;
  }

  .site-navigation__list {
    &--main {
      .indents-none();
      margin-top: 4px;
      padding-left: 45px;
    }

    &--user {
      position: static;
      margin-top: 2px;
    }

    &--contacts,
    &--social {
      display: none;
    }
  }

  .site-navigation__list .user-menu__link {
    display: block;
  }
}
