.social {
  .list-reset();
  display: flex;
  justify-content: center;
}

.social__link {
  .inline-block();
  width: 45px;
  height: 45px;
  background-color: @yellow;
  border-radius: 50%;

  &--light {
    background-color: transparent;
  }
}
