.step-markers {
  .list-reset();
  display: flex;
  align-items: flex-start;
}

.step-markers__item {
  position: relative;
  margin-right: 21px;
  min-height: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 5px;
    height: 5px;
    background-color: fade(@marker-grey, 30%);
    border-radius: 50%;
  }

  &--active::before {
    background-color: @btn-darkblue;
  }
}

@media (min-width: @tablet-width) {
  .step-markers__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 3px;
    }

    &::before {
      top: -2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .step-markers {
    .indents-none();
    flex-direction: column;
  }

  .step-markers__item {
    min-height: 18px;
    margin-right: 0;
    margin-bottom: 26px;
    padding-left: 42px;

    &::before {
      top: 5px;
    }
  }

  .step-markers__title {
    display: block;
    font-size: 20px;
    line-height: 14px;
    font-weight: @normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: fade(@black, 60%);
  }

  .step-markers__item--active .step-markers__title {
    color: @black;
  }
}
