.traveler-card {
  position: relative;

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px 0 fade(@black, 8%);
  }
}

.traveler-card__picture {
  .section-radius-top(10px);
  overflow: hidden;
}

.traveler-card:hover .traveler-card__photo,
.traveler-card:focus .traveler-card__photo {
  transform: scale(1.1);
}

.traveler-card__photo {
  display: block;
  transition: transform 0.3s linear;
}

.traveler-card__level {
  position: absolute;
  top: 16px;
  left: 16px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: fade(@black, 60%);
}

.traveler-card__level-circle {
  stroke-width: 5px;
  stroke-dashoffset: 90;

  &--99 {
    stroke-dasharray: 305 10;
  }

  &--80 {
    stroke-dasharray: 260 55;
  }
}

.traveler-card__level-text {
  .indents-none;
  position: absolute;
  top: 11px;
  left: 17px;
  font-size: 24px;
  line-height: 28px;
  font-weight: @bold;
  text-align: center;
}

.traveler-card__level-legend {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: @normal;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 31px;
    height: 1px;
    background-color: @white;
    opacity: 0.3;
  }
}

.traveler-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  padding-bottom: 16px;
  text-align: center;
  background-color: @white;
  .section-radius(10px);
}

.traveler-card__countries {
  .indents-none();
  width: 143px;
  margin: 0 auto;
  margin-bottom: 14px;
  margin-top: -12px;
}

.traveler-card__name {
  .indents-none();
  .inline-block();
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 21px;
  font-weight: @bold;
}

.traveler-card__name-link {
  position: relative;
  color: @btn-darkblue;

  &:hover,
  &:focus {
    color: fade(@btn-darkblue, 70%);
  }

  &:active {
    color: fade(@btn-darkblue, 30%);
  }
}

.traveler-card__status::before {
  top: 7px;
  left: -17px;
}

.traveler-card__hashtags-list {
  .indents-none();
  width: 184px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 5px;
}

.traveler-card__vehicles-list {
  .indents-none();
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .traveler-card__picture {
    .section-radius-top(20px);
  }

  .traveler-card__photo {
    width: 285px;
    height: 285px;
  }

  .traveler-card__level {
    top: 20px;
    left: 20px;
  }

  .traveler-card__info {
    width: 285px;
    padding-bottom: 23px;
    .section-radius(20px);
  }

  .traveler-card__countries {
    margin-bottom: 18px;
  }

  .traveler-card__name {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 24px;
  }

  .traveler-card__status::before {
    top: 9px;
    left: -22px;
  }

  .traveler-card__hashtags-list {
    width: 229px;
    margin-bottom: 18px;
  }

  .traveler-card__vehicles-list .vehicles__item {
    width: 33px;
    height: 33px;
  }
}

@media (min-width: @desktop-width) {
  .traveler-card__level {
    top: 23px;
    left: 23px;
  }

  .traveler-card__countries {
    margin-bottom: 20px;
  }

  .traveler-card__name {
    margin-bottom: 20px;
  }
}
