.travelmates-form {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 22px;
  background-color: @yellow;
  border-radius: 20px;
}

.travelmates-form__title {
  .indents-none();
  margin-bottom: 21px;
  padding-left: 5px;
  width: 120px;
  font-size: 22.5px;
  line-height: 22.5px;
  font-weight: @bold;
  color: @btn-darkblue;
}

.travelmates-form__item-wrapper {
  padding-left: 6px;
  border-top: 1px solid @darkyellow;
}

.travelmates-form__submit {
  width: 230px;
  margin-top: 26px;
}

@media (min-width: @tablet-width) {
  .travelmates-form__title {
    margin-bottom: 37px;
    padding-left: 0;
    width: auto;
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: @tablet-width) and (max-width: @mobile-tablet-width-only) {
  .travelmates-form {
    padding-top: 36px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 38px;
  }

  .travelmates-form__item-wrapper {
    padding-left: 0;
    margin-bottom: 9px;
    border: none;

    &--transport {
      margin-top: 17px;
    }

    &--top {
      padding-top: 22px;
      border-top: 1px solid @darkyellow;
    }

    &--bottom {
      padding-bottom: 36px;
      border-bottom: 1px solid @darkyellow;
    }
  }

  .travelmates-form__submit {
    width: 618px;
    margin-top: 27px;
  }
}

@media (min-width: @desktop-width) {
  .travelmates-form {
    box-sizing: border-box;
    width: 285px;
    padding-top: 47px;
    padding-left: 47px;
    padding-right: 41px;
    padding-bottom: 47px;
  }

  .travelmates-form__title {
    margin-bottom: 25px;
    width: 160px;
  }

  .travelmates-form__item-wrapper {
    padding-left: 0;
    border: none;
  }

  .travelmates-form__submit {
    width: 196px;
    margin-top: 43px;
  }
}
