.travelmates-filter {
  padding-bottom: 14px;
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .travelmates-filter {
    padding-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .travelmates-filter {
    order: 2;
    padding-bottom: 0;
  }
}
