.user-menu {
  .list-reset();
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.user-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--phone {
    background-color: @darkorange;

    &:hover,
    &:focus,
    &:active {
      background-color: @hover-darkorange;
    }
  }

  &--mail {
    background-color: @lightorange;

    &:hover,
    &:focus,
    &:active {
      background-color: @darkorange;
    }
  }
}

.user-menu__icon {
  fill: @bg-darkblue;
}

.user-menu__link:active .user-menu__icon {
  opacity: 0.3;
}

.user-menu__login {
  width: 189px;
}

@media (min-width: @desktop-width) {
  .user-menu {
    justify-content: flex-end;
  }

  .user-menu__link {
    width: 50px;
    height: 50px;
  }
}
