.user-plans {
  .section-radius-top();
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: @btn-lightblue;
}

.user-plans__list {
  .indents-none();
  margin-top: 30px;
}
