.user-info {
  padding-top: 23px;
  padding-bottom: 47px;
}

.user-info__field {
  .indents-none();
  border: none;

  &--bordered {
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid @border-grey;
    border-radius: 10px;
  }
}

.user-info__field-title {
  padding-left: 17px;
  padding-right: 18px;
  margin: 0 auto;
  font-weight: @bold;
  text-transform: uppercase;
  color: @btn-darkblue;
}
