.user-menu {
  .list-reset();
  display: flex;
}

.user-menu__link {
  .inline-block();
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--phone {
    background-color: @darkorange;
  }

  &--mail {
    background-color: @orange;
  }
}
