.vehicles {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
}

.vehicles__item {
  width: 33px;
  height: 33px;
  background-color: @white;
  border-radius: 50%;

  &--blue {
    width: 32px;
    height: 32px;
    background-color: @lightgrey;
  }
}

@media (min-width: @tablet-width) {
  .vehicles__item {
    width: 43px;
    height: 43px;

    &--blue {
      width: 32px;
      height: 32px;
      background-color: transparent;
    }
  }
}
