.vehicles {
  .list-reset();
  display: flex;
}

.vehicles__item {
  border-radius: 50%;

  &--blue {
    width: 32px;
    height: 32px;
    background-color: @lightgrey;
  }

  &--white {
    width: 33px;
    height: 33px;
    background-color: @white;
  }
}

@media (min-width: @tablet-width) {
  .vehicles__item {
    &--blue {
      background-color: transparent;
    }
  }
}
