.list-reset() {
  list-style: none;
}

.indents-none() {
  margin: 0;
  padding: 0;
}

.inline-block() {
  display: inline-block;
  vertical-align: middle;
}

.section-radius() {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.section-radius-top() {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
