// viewport
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-tablet-width-only: 1439px;

// colors
@bg-darkblue: #161c35;
@tablet-darkblue: #182044;
@icon-darkblue: #121936;
@btn-darkblue: #1d2e5b;
@tooltip-darkblue: #101d41;
@darkblue: #192144;
@blue: #141b3b;
@lightblue: #132576;
@bg-blue: #d4d9eb;
@btn-blue: #d6daed;
@btn-lightblue: #dfe3f0;
@black: #000000;
@darkgrey: #444444;
@marker-grey: #808285;
@border-grey: #cbced9;
@border-lightgrey: #d6d9e6;
@ctr-lightgrey: #cfcfcf;
@plus-lightgrey: #c2c4c9;
@plus-grey: #bebfc5;
@bg-lightgrey: #e2e5f2;
@btn-lightgrey: #f3f4f8;
@lightgrey: #edeff6;
@red: #ff5c23;
@redlight: #f97676;
@greenlight: #81e31e;
@pink: #f9eaea;
@darkorange: #ff8d30;
@orange: #ffa530;
@lightorange: #ffbd30;
@darkyellow: #f3c72b;
@yellow: #ffd74b;
@white: #ffffff;
@transparent-black: fade(@black, 10%);
@transparent-white: fade(@white, 10%);

// font-weight
@bold: bold;
@medium: 500;
@normal: normal;
@light: 200;
