@bg-darkblue: #161c35;
@icon-darkblue: #121936;
@btn-darkblue: #1d2e5b;
@tooltip-darkblue: #101d41;
@darkblue: #192144;
@blue: #141b3b;
@black: #000000;
@darkgrey: #444444;
@lightgrey: #edeff6;
@btn-lightgrey: #f3f4f8;
@redlight: #f97676;
@greenlight: #81e31e;
@pink: #f9eaea;
@darkorange: #ff8d30;
@orange: #ffa530;
@lightorange: #ffbd30;
@yellow: #ffd74b;
@white: #ffffff;

@bold: bold;
@medium: 500;
@normal: normal;
@light: 200;
